*{
    padding:0;
    margin:0;

        }
    body{
background:url(https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg);
background-size:cover;    
    background-repeat:no-repeat;
    background-position: center;
}
    #div1 {
        width:85%;
        height:20%;
        background-color:#ffffff;
        opacity:85%;
        margin-top:2%;
    margin-bottom:3%;
    margin-left:6%;
    margin-right:4%;
    font-size: 250%;
    text-align: center;

    }
    .sidenav { 
        height: 136%;
        width: 25%; 
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff; 
        overflow-x: hidden;
        padding-top: 20px; /* ta bort  */
        float:left;
        opacity:85%;
        
    margin-bottom:1%;
    margin-left:6%;
    margin-right:2%;

        
    }
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #0001ff;
        display: block;
        
    }
    .sidenav a:hover {
        color: #111;
        
    }
    .main {
        margin-left: 160px;
        padding: 0px 10px;
    
    }
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    #Header {
        width:56%;
        height:35%;
        background-color:#ffffff;
        text-align: center;
        float:left;
        opacity:99%;
        background-image: url("https://ak.picdn.net/shutterstock/videos/8959657/thumb/1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
        margin-bottom:2%;
        margin-left:2%;
        margin-right:4%;
    }
    #Introduction {
        width:56%;
        height:100%;
        background-color:#ffffff;
        text-align: center;
        float:left;
        opacity:85%;

    margin-bottom:1%;
    margin-left:2%;
    margin-right:4%;
        
    }
    #Footer {
        width:85%;
        height:10%;
        background-color:#ffffff;
        text-align: center;
        float:left;
        opacity:85%;
        margin-top: 2%;
    margin-bottom:2%;
    margin-left:6%;
    margin-right:4%;
    
    }
   